[2018-04-21 00:41] github-learning-lab opened #1 "Planning the move to GitHub"
## Step 1: Planning the move

You have a few options when moving your project to GitHub. This course will expose you to these options, help you choose a path, and then guide you down the path you have selected.

I know some people like to get straight to the point while others like more information. For those who like more information, be sure to check out the drop-downs like this one :arrow_down:

[2018-04-21 00:43] #1 closed, assigned to nobody

[2018-04-21 00:43] github-learning-lab opened #2 "Preparing the project for Git"
## Step 2: Prepare the project

### Working with Binary files

In general, there are two types of files: text files and binary files.

Text files, like most code files, are easily tracked with Git and are very lightweight.

However, binary files like spreadsheets, presentations with slides, and videos don't work well with Git. If your repository already has some of these files, it's best to have a

[2018-04-21 01:52] #2 closed, assigned to nobody

[2018-04-21 01:52] github-learning-lab opened #3 "Publishing your local project"
## Step 3: Make the move

Having a project already stored locally enables you to move it to GitHub rather quickly. The following activity provides instructions to move your local project to GitHub using various tools. Select the tool you are most comfortable with and get importing :smile:.

### :keyboard: Activity: Moving your local project

1. In the **Code** tab of this repository, copy the URL

[2018-04-21 02:03] github-learning-lab opened #4 "About your community score"
## Making Collaboration Easier

In public repositories specific files can help the community contribute to an Open Source project. Even though you are using a private repository doesn't mean you project can't benefit from those same files. These files inform and enable contributors to make contributing easier.

I've opened up issues for each one of the items that you should take action on, and sta

[2018-04-21 02:03] github-learning-lab opened #5 "Add a repository description"
Your repository has no description! Let's add one.

### :keyboard: Activity: Adding a project description

1. Access the [**Code**](https://github.com/lineaba/github-move/) tab of your project.
1. Click the **Edit** button located on the right side of the screen (above the green **Clone of download** button).
1. Enter a description for your project in the **Description** field.
1. (Optional) If yo

[2018-04-21 02:03] github-learning-lab opened #6 "Add a README"
Your project doesn't have a `README.md` file. Even though your project might be private, that doesn't mean the `README.md` file isn't useful. The `README.md` file can inform other contributors that you invite to your project how to work on the project, display badges from GitHub Integrations that display the health or status of the project, and more.

A `README` is often the first item a visitor w

[2018-04-21 02:03] github-learning-lab opened #7 "Add a Code of Conduct"
Your repository has no Code of Conduct.

Having a Code of Conduct is really important, even in private repositories. Instead of re-writing the wheel, I want to point you to some of the best instructions around.

### :keyboard: Activity: Add a Code of Conduct

1. Read [this documentation](https://help.github.com/articles/adding-a-code-of-conduct-to-your-project/) about having a Code of Conduct
1. A

[2018-04-21 02:03] github-learning-lab opened #8 "Add a contributing guide"
A contributing guide provides important information to those who may be interested in helping you with your project. Without a contributing guide, they might not know what you need help with, how they can get started, or how you like to communicate.

Although a contributing guide is typically found in Open Source projects, it can be useful for private projects as well. The contributing guide provi

[2018-04-21 02:03] github-learning-lab opened #9 "Add a license"
Although your repository is currently private, you might want to review the different licenses available, especially if you are thinking about open sourcing your project. Licenses aren't normally used in private or closed source applications, but they are very important for public or open source project, because they set the rules for how others are allowed to use, change, and contribute to your p

[2018-04-21 02:03] #3 closed, assigned to nobody

[2018-04-21 02:03] github-learning-lab[bot] opened #10 "Add an issue or PR template"
When you add an issue template and pull request template to your repository, project contributors will automatically see the template's contents in the issue or pull request body. Templates customize and standardize the information you'd like included when contributors open issues. This information can guide contributors to include the information that allows enhancement or bug reports to be revie

[2018-04-21 02:04] #4 closed, assigned to nobody

[2018-04-21 02:04] github-learning-lab[bot] opened #11 "Your repository settings"
## Step 5: Project settings

In your repository, you will see a [**Settings**](https://github.com/lineaba/github-move/settings) tab on the right-hand side of the navigation, after **Code**, **Issues**, **Pull Requests**, and other categories. I've opened a [milestone](https://github.com/lineaba/github-move/milestone/2) to track each of the settings issues.

### Project visibility
Repositories can

[2018-04-21 02:04] github-learning-lab[bot] opened #12 "Confirm your repository visibility"
## Private or Public?

Right now, your repository is set to private.

You can change the visibility of a repository to Private or Public at any time, but there are some things you should know.

### Private Repositories
If your repository is private, then the only people who can see your code are the collaborators that you've invited.

Private repositories also aren't free. The price depends on how

[2018-04-21 02:04] github-learning-lab[bot] opened #13 "Invite collaborators"
## Collaborators

Part of what makes working on GitHub so effective is how easy it is to collaborate. If you want to give others the permission to work in your repository, you can add them as collaborators.

#### Things to watch out for

Whether your repository is public or private, inviting someone as a collaborator will give them push access to your repository. That means that they'll be able to

[2018-04-21 02:04] github-learning-lab[bot] opened #14 "Set up protected branches"
## Protected Branches

When you look in the [**Settings**](https://github.com/lineaba/github-move/settings) tab of your repository, you'll see **Branches** on the left side. Here, you can choose to enable something called **Protected Branches**.

#### What are Protected Branches?

Protected branches ensure that collaborators on your repository cannot make irrevocable changes to branches. These bra

[2018-04-21 02:04] github-learning-lab[bot] opened #15 "Set up integrations"
## Set up Integrations

There are many services that integrate with GitHub. These integrations provide specialized solutions to take your software and workflow to the next level.

You can search for and browse integrations in [GitHub's Marketplace](https://github.com/marketplace), and on this ["Works with"](https://github.com/works-with) site.

You might have some integrations set up to sync with

[2018-04-21 02:07] #5 closed, assigned to nobody

[2018-04-21 03:05] #6 closed, assigned to nobody

[2018-04-21 03:44] #7 closed, assigned to nobody

[2018-04-21 05:17] #8 closed, assigned to nobody

[2018-04-21 05:20] #9 closed, assigned to nobody

[2018-04-21 05:27] #11 closed

[2018-04-21 05:27] github-learning-lab[bot] opened #19 "Add documentation"
## Creating documentation

GitHub Pages is a powerful tool that creates a static web page for GitHub repositories. GitHub Pages looks for an `index.html` or `index.md` file, but will also use a `README.md` file as the home page for the web page.

You can choose to have GitHub Pages look at the `master` branch, the `gh-pages` branch, or the `/docs` directory of the `master` branch.

### :keyboard:

[2018-04-21 05:27] github-learning-lab[bot] opened #20 "Release your software"
## Using releases

### Why Releases?
Releases are GitHub's way of packaging and providing software to your users. You can think of it as a replacement to using downloads to provide software.

With Releases, you can provide links to binary files, as well as release notes describing your changes.

At their core, Releases are based on Git tags. Tags mark a specific point in the history of your projec

[2018-04-21 05:27] github-learning-lab[bot] opened #21 "A few parting words"
# Nice Work!

![celebrate](https://octodex.github.com/images/Professortocat_v2.png)

Congratulations, you did it! :tada:

Now, you have your code set up in a GitHub repository!

## What's Next?

There are some issues already opened in this repository to help you craft this repository's important files, including these:
- [Add Documentation](https://github.com/lineaba/prog-o-meter/issues/19)
- [Rel

[2018-04-21 05:29] #21 closed

[2018-04-21 05:32] #12 closed

[2018-04-21 05:47] #13 closed

[2018-04-21 05:47] #14 closed

[2018-04-21 05:48] #15 closed

[2018-04-21 05:48] #19 closed

[2018-04-21 06:07] lineaba opened #23 "Display finishing date"
Below the current line of text displayed in the prog-o-meter window stating how many days the user have left before they reach the goal, we should also display a line of text stating the end-date, i.e. the date on which they will reach their goal.

This requires that we calculate the end-date based on the current date + The number of remaining days of challenge (self.GOAL-self.days)

We should als

[2018-04-21 06:23] lineaba opened #24 "Manually input number of days"
We could maybe implement a button, that opens up a text-input-box, that lets user input the numbers of days they have already progressed.

This would be useful if:
* The user starts using the prog-o-meter, but have been doing their challenge for a while (i.e. user is on day 12 of their #100DaysofCode challenge, and wanna starts using the prog-o-meter. Instead of having to click the "1 more day!" b

[2018-04-21 06:29] lineaba opened #25 "Style the prog-o-meter window"
The prog-o-meter window could probably look much prettier than it currently does. Maybe it should have another size, maybe the "1 more day!" button should have another location, maybe we should use different fonts/sizes/colors for the text, etc.

I am by no means a good designer, and if someone want's to work on making the window look nicer, that would be much appreciated.

It would also be helpfu

[2018-04-21 06:35] lineaba opened #26 "User not found"
We need a way to handle if the user say that they are returning user (currently the option "I already have a meter"), but then gives a name that does not exist.
* One solution could be to check if the user exists (i.e. if there locally is a .txt file with the name provided by the user).
  *If such a file does not exist, we can display some text saying something like "Woops, we cannot find you. Ple

[2018-04-21 06:41] lineaba opened #27 "Ensure that subsequent windows won't be opened if window is closed"
We should make sure that if a user closes a window, then the subsequent windows should not be opened.

There are 3 classes, which each launches a Tkinter window. If one of them is closed by the user (by clicking the red X button in the upper right corner), the next window(s) should not be launched.
This means that clicking the red X button on any of the 3 windows, should be considered closing down

[2018-04-21 06:56] lineaba opened #28 "Make sure user clicks radio-button"
In the Tkinter window launched/opened by the StartGUI, the user have to either select "I already have a meter", or "I don't have a meter yet", and then click submit.

But if the user doesn't select either before they click submit, the program keeps executing, but lacks important information, and therefore looks very weird.
We need to make sure user clicks one of the radio-buttons before they click

[2018-04-21 07:01] lineaba opened #29 "Print encouragements"
We could implement a feature, where we print an encouragement to the user every day when they click the "1 more day button". Encouragements could be stuff like "Nice job!", or "Keep on learning", etc. or they could my motivational quotes, or something else nice.
Encouragements could either be displayed as pop-up window, or just as a Tkinter text element above or below the prog-o-meter

Suggestion:

[2018-04-21 07:03] lineaba opened #30 "Celebrate the reach of goal"
Currently when the user reaches their goal, nothing happens (besides from the fact that the "1 more day!" button is disabled, to they can't add any more days)
This seems like a cause for celebration. Maybe we can display are celebratory message, gif, fireworks, or something else? Either as a pop-up window, or displayed directly on the canvas created in the ProgressGUI class.
Lets get creative :)

[2018-04-21 07:12] lineaba opened #31 "Personalization"
We could add a new button which opens a new window, which lets the user personalize their prog-o-meter.

For example, we could let the user choose which color they wan't completed days to have (currently set to blue), and what color they wan't the new day they add to have (currently set to green).

We could also let them change the number of days of their goal (e.g. #50DaysofCode, #500DaysofCode).

[2018-04-21 07:21] lineaba opened #32 "Add a logging-feature"
Writing a log is often considered an important part of the #100DaysofCode challenge. In a log the user would write some text everyday, about  their work that day.
We could implement a feature (and maybe let the user decide themselves, whether to enable/disable it), which open a window with a text-input-field each day when they click the "1 more day!" button. The user can then write their log direc

[2018-04-21 07:27] lineaba opened #33 "Setting goals"
We could make a feature where the user could set a goal for themselves (either day-to-day ("Tomorrow I will finish commenting the foo.py file", "Tomorrow I will do the video-lesson on example.com"), or longer term "Goal for day 20: Have made a static webpage about my dog".

The user would then see their goal when opening the prog-o-meter the next day, and be able to click a button showing they hav

[2018-04-21 07:37] lineaba opened #34 "Change from progress-o-meter to prog-o-meter"
When I first wrote the code, I used the name progress-o-meter, but later I decided to shorten it to prog-o-meter. It would be nice if we changed it in the code.
This task requires NO programming skills, but you need to be able to use the github workflow (see the CONTRIBUTE file for guides, or ask for help in a comment on this issue). It could potentially be a nice way to look through and get famil

[2018-04-21 08:44] lineaba opened #35 "Review current code"
Since this project was started as a one-person-thing, I have not had someone review the initial code, that we start out with.
It would be super helpful, both to me, and to the entire project, if someone would review that current code.

[2018-04-21 08:47] lineaba opened #36 "Create database"
Since I don't have experience working with databases, and the program was simple enough from start, the data needed to be stored (the completed days), is just stored in a .txt file locally on the user's computer. If anyone is interesting in implementing a more traditional database, that would be awesome. It would be especially useful, if we are gonna progress with this issue #31

[2018-04-21 09:10] lineaba opened #37 "Make user guide"
We should make a user guide for how to use the prog-o-meter

[2018-04-22 13:34] garroadran commented on #34
I'll have a go at this!

[2018-04-22 14:23] elheffe80 opened #41 "Clean up the documentation pages"
Hi, my name is Heff, and I am completely new to programming, git, and yada yada yada.  I was drawn to this project from reddit (https://www.reddit.com/r/learnpython/comments/8dsn6o/beginner_python_projects_on_github/ )  through a search for:
is:open is:issue language:python label:"good first issue"
and found the encouragement of the day (which I want to work on).  In reading through all the docume

[2018-04-22 14:39] elheffe80 opened #42 "Crash when there is no existing meter"
If user clicks they have existing meter, but there is no such meter, program crashes without warning.  Should probably implement some sort of pop-up box telling them they need to slap themselves with a fish or check their spelling & try again.

[2018-04-22 14:55] elheffe80 commented on #41
Made some changes, pushed a pull request (first time for that, ever <o.o> eep!)

[2018-04-22 14:55] #41 closed

[2018-04-22 16:43] B-Souty opened #44 "Strings don't wrap"
Because the strings don't wrap, I am sometime missing part of a text (c.f. screenshot)

![screenshot_20180422_182910](https://user-images.githubusercontent.com/37458498/39097361-7e4b6248-465b-11e8-9f27-9241206d803a.png)

I was able to fix the issue by changing line 233:

`self.canvas.create_text(self.CANVAS_WIDTH/2,` 20, text = "Good to see you again! Please enter your name")`

to something like t

[2018-04-22 16:46] B-Souty commented on #23
Hey, I will take a look at this.

[2018-04-22 18:50] lineaba commented on #34
Awesome! And welcome to the team

[2018-04-22 18:51] lineaba commented on #23
Awesome, and welcome to the team. Let me know if you have any questions

[2018-04-22 19:24] lineaba commented on #44
Hey, interesting problem. I am glad the program is being tested out on multiple machines and operating systems.
I am worried your solution it might cause problems in cases where there are two lines of text right below each other, since the wrap of the first line could end up overlapping with the position of the second line.
I am wondering if we would possibly solve the problem by setting the font.

[2018-04-22 19:28] lineaba commented on #42
Hey, I agree. I have described this problem in issue #26, and anyone is more than welcome to start tackling this problem if they want :)

[2018-04-22 19:32] lineaba commented on #34
This have been solved

[2018-04-22 19:32] #34 closed

[2018-04-22 20:59] B-Souty commented on #44
if you declare all your lines within the same canvas using `\n` for new line and the `justify` parameters I reckon you should be able to avoid overlapping.

However, as you mentioned, considering that tkinter is using the system default font, other issues might arise going forward. Hardcoding the font-type and its size might be the best solution. But then that would mean finding a font that would

[2018-04-22 22:31] #42 closed

[2018-04-22 22:33] elheffe80 commented on #36
I have been looking into SQLite, seems relatively simple to use. Plus it only creates one file and doesn’t have a large overhead. Lastly- it looks like it’s deployed with most python installs and is python 3 ready so if an upgrade occurs it’s ready and easy to do. Thoughts?

[2018-04-22 22:37] elheffe80 commented on #35
I’ve been going through the code and am thinking of hitting it to the pep8 standard to help me read through it while doing this. Mind if I do that?

[2018-04-22 22:51] lineaba commented on #44
Hmm, yeah, this problem is a bit of a headscratcher.

I like the simplicity of using \n and justify, but I wonder if we could encounter problems given the small size of some of the the windows. Could we risk a system's default font takes up so much space, that we risk the text falling of the bottom of the widget due to too many lines, by taking this approach?

I have been looking a bit into hard-c

[2018-04-22 22:52] lineaba commented on #44
Here is a link about font and Tkinter http://www.tkdocs.com/tutorial/fonts.html

[2018-04-22 23:49] brettvanderwerff opened #45 "python 3 support?"
Nice idea you have here, but you may want to seriously consider supporting/moving to python 3, especially because this is a new project and you are early on in development.

[2018-04-23 00:26] brettvanderwerff commented on #36
Sqlite is pretty easy to get up and running. Might be a nice addition.

[2018-04-23 02:27] elheffe80 commented on #45
I was thinking the same thing. I’d rather put effort into python 3 as it is where everything is heading.

[2018-04-23 04:56] lineaba commented on #36
Awesome, that nice to hear :)

[2018-04-23 16:20] brettvanderwerff opened #47 "Should use timestamps to calculate progress instead of manual input"
Let me know if I am missing it, but the user has to manually start the program and click the button to add days, correct?

If that is the case, then maybe it should be changed to log the time the challenge starts by using the datetime module or something similar and then if the user starts the program again the time that has elapsed will be automatically calculated

[2018-04-23 16:35] brettvanderwerff opened #48 "Eventual move towards deployment as web app etc.?"
I think the idea and functionality can be perfected here, but have you though about the long term and maybe deploying a version of this as a web app or having a mating browser extension? These are different projects unto themselves, but I am just trying to think about how to make this more accessible to people in the long term.

[2018-04-23 18:34] lineaba commented on #45
Hey, thanks for your suggestions. I had been thinking the same thing, have been switching a bit between Python 2 and 3 due to different course requirements. Did this is python 2, because it was what I have been working in most recently. We can definitely work on a move or double support

[2018-04-23 18:48] lineaba commented on #23
Hey @B-Souty how is it going with this issue? Let me know if you need any help or feedback :)

[2018-04-23 18:50] brettvanderwerff commented on #47
Ah I see now.

[2018-04-23 19:30] lineaba commented on #30
That's a nice idea, something to save and look back at.
If we do a web version at some point, there could also be interesting possibilities by having a twitter bot tweet out celebratory messages each time a user reaches a goal.

[2018-04-23 19:37] brettvanderwerff commented on #30
Sounds good, something to keep on the back burner. I have never sent texts, but sending email with smtplib module is pretty straight forward, you would just need users to provide an email upon initial login. You also need a gmail account with access granted to less secure apps, which does not take much to set up. Some of the of the info in this link is deprecated, but its still very close: https:/

[2018-04-23 19:47] lineaba commented on #30
I assume email is probably easier than text, since users could potentially be in many different countries with different carriers, etc, but have never looked into something like that (I did hear recently that google is coming out with a messaging solution similar to apple's iMessage sending over data, maybe the good old SMS is slowly going obsolete - well, this was a side note 😀 )
But we'll keep e

[2018-04-23 19:55] lineaba commented on #44
@B-Souty Do you wanna have a go at solving this problem?

[2018-04-23 20:06] lineaba commented on #32
Here is a suggestion, if someone wanna have a try at this:
- Add a button to the prog-o-meter screen ("LOG")
- Check if the user currently have a file [USERNAME]_log.txt
    - If user do not have a log-file already, make one
- Open an entry widget (http://effbot.org/tkinterbook/entry.htm) (you can also take a look at the window that pops up for the user to enter their name in, for some inspiration

[2018-04-23 20:09] lineaba commented on #31
I suggest we hold of on this issue, until we have a database in place.

[2018-04-23 20:24] lineaba opened #49 "Show celebratory image upon reaching 100 days"
__First timers only__
_This means that this issue have been determined a good place to start for someone who have not been contributing to open source before. Let us know how we can help you get started or if you have any questions. We would really love for you to join us_

This is a sub-part of issue #30, but I think it would be a very nice start.
Wnen the user clicks the "1 more day" button upon

[2018-04-23 20:25] lineaba commented on #28
I will start working on this issue tonight

[2018-04-23 20:26] lineaba commented on #27
I will start working on this issue tonight

[2018-04-23 21:28] B-Souty commented on #23
Hi lineaba,

I am submiting a PR right now.

[2018-04-24 01:53] lineaba commented on #23
@B-Souty Awesome! I am so stoked that you did your first PR with the prog-o-meter, it was exactly for that reason I started the project. I will take a look at you PR within the next couple of hours 😃 Please let me know if you have any feedback on the github repo, if there is anything that could be explained better, organized differently, etc.

[2018-04-24 02:50] elheffe80 commented on #48
If we are going to move it to a web app, then I am not sure if SQLite is a good idea.  I think moving it to a web app is a great idea, and will relook at the db implementations to ensure that having it tie into a webapp will work.

[2018-04-24 05:32] lineaba commented on #48
Cool. I think we could still keep the desktop program, even when we move to webapp, so if there is some database solution that would work with both, that would be awesome. If there is not, maybe we should still give SQlite a go for desktop version, but then also start considering which solution to use for webapp

[2018-04-24 05:35] lineaba opened #52 "Unused variable on line 130"
Elheffe80 pointed out an unused variable (i) in a for loop on line 130. I will fix this as soon as possible, and go through and make the same doesn't occur elsewhere in the code too.

[2018-04-24 05:37] lineaba opened #53 "Shorten summaries in docstrings"
I have written too long summaries (first line in docstrings). Need to stay within 72 chars, as prescribed by PEP257, which ensures the ability to use automatic indexing tools. I will shorten up the docstrings soon, unless someone else have a go at it before I can get to it.

[2018-04-24 05:47] lineaba opened #54 "Add contributor information to readme"
Hey, if you want, it would be nice to have people's name (first name or full name, whatever you prefer) at the contributor list at the bottom of the readme. I have added your github handles. If you want, you can add your names. @elheffe80 @garroadran @B-Souty

[2018-04-24 13:12] elheffe80 commented on #48
The only reason I was saying not to use SQLite if we plan on creating both a webapp/desktop app is because on this [site](https://www.fullstackpython.com/databases.html) it says that because SQLite is limited to one connection at a time it isn't necessarily all that great for being used in a web app situation.  I understand the want to keep secondary installations down though, so it is a toss up a

[2018-04-24 14:50] brettvanderwerff commented on #48
I'm actually not sure on this because I'm new to sql but I think you can have many people viewing the table at once with sqlite then once someone writes it locks the table but only for for a milisecond.

[2018-04-24 15:05] lineaba commented on #48
@elheffe80 How does it work with a webbased solution that the user installs on their own computer? Is it not browser-based then? I have basically no experience with web development, so I am very curious to learn more!
@brettvanderwerff From the very little I have been looking at SQlite, it did look like they were saying it could be used for simple, low-traffic websites, but I'm not sure exactly wh

[2018-04-24 15:12] brettvanderwerff commented on #48
Sqlite is not not browser based, you can use it for web applications but the machinery for it is all offline. I  was looking into the limitiation of concurrent writes maybe a few weeks ago and couldn't get a solid answer. I do know the writes happen very fast( milisecond or so) so the likelihood of getting concurrent writes is small with a lower traffic app.

[2018-04-25 01:06] lineaba commented on #45
Cool, seems like there is consensus about Python 3. Okay with me to make the move.

[2018-04-25 01:14] lineaba commented on #48
So I guess we could start out with SQlite even for the web version, and then always move to another solution, if we should reach a stage of high traffic. But if there are other solution we should look into, let me know.

[2018-04-25 09:12] chiranjev commented on #49
I would like to take this issue.

[2018-04-25 17:05] lineaba commented on #49
Hey, awesome, welcome to the project! I have been looking at your github repo, it looks like you have some experience coding. If you are interested, we have a little more challenging first-timer issue #24 which contains a few more steps to implement the code. You are very welcome to do either of them, I just wanted to point you in that direction! I am excited to have you contribute

[2018-04-25 17:37] chiranjev commented on #49
Yes, I would like to take the issue #24 . Thanks for informing me about that.

[2018-04-25 17:46] lineaba commented on #49
Nice! Welcome to the team, I'll add you as a contributor, and you can assign yourself to issue #24. Let me know if you have any questions :)

[2018-04-25 21:52] sdkwok commented on #32
Hi, I'd like to take a look at this.

[2018-04-25 22:17] lineaba commented on #32
That's awesome! I'll add you as a collaborator to the project. When you accept, please assign yourself to the issue (in the upper right corner of this window.) Let me know if you have any questions or would like some help getting started.

[2018-04-26 12:38] garroadran commented on #30
Should be pretty easy to allow the user to share the event on their facebook timeline or twitter. I can get to work on that if you'd like.

[2018-04-26 21:32] lineaba commented on #30
Yeah, that would be great!

[2018-04-27 03:07] 0xJosh commented on #52
Hey @lineaba, has this already been taken care of? - if not, I'd happily love to help.

[2018-04-27 03:15] 0xJosh commented on #24
I'd happily love to give this a shot.

[2018-04-27 03:47] lineaba commented on #52
Hey @0xJosh, no I haven't actually fixed it yet, so if you wanna have a go at it, that would be awesome. I did find the same issue in at least one more line when I was looking through the code, but I of course forgot to write down which line (and there has been a couple of merges recently, so the problem elheffe80 originally pointed out, may have moved a few lines up or down also). It would be gre

[2018-04-27 03:48] lineaba commented on #52
@0xJosh I have added you as a contributor. When you accept, please assign yourself to this issue in the upper right corner.

[2018-04-27 08:26] B-Souty commented on #23
Feature added in #50

[2018-04-27 14:22] B-Souty opened #58 "Improve text_entry behavior"
Currently, once you chose if you're a new user or an existing one, on the next screen you need to click in the text box to start typing. Then click on submit to go to the next screen.

1. We could easily use the focus_set() method to activate the text box automatically so you don't have to click on it anymore. This is a one-liner `self.text_entry.focus_set()` after line 258.
2. I was also wonderin

[2018-04-27 17:39] sdkwok commented on #32
Hi, Linnea, I have been looking at the issue. I have two questions:

1) I'm not sure I have been added as collaborator on this project yet.

2) I'm thinking about having the [USERNAME]_log.txt file just be created in the main() routine along with the [USERNAME].txt file that records the number of days, so that any new user will automatically have an empty log file created for them.

Alternatively,

[2018-04-27 18:02] lineaba commented on #49
@B-Souty The reason why I encouragesd chiranjev to take issue #24 was because this is a first-timers-only issue. I would like to keep it available for someone making their first PR. So would you mind choosing another issue? I was thinking about #44 Did we ever find a good cross-platform-solution to this?

[2018-04-27 18:04] lineaba commented on #24
@0xJosh, yes @chiranjev is currently working on this :)

[2018-04-27 18:09] lineaba commented on #24
@0xJosh Here are some issues you could work on: #49 or #33. Let me know if you would be interested in one of those. For #33 we can brainstorm a bit more about how it should look/work, if you want.

[2018-04-27 18:18] lineaba commented on #32
Hi,
1. You are right, I had missed adding you. I have invited you now, you just need to accept my invitation, and then you should be able to self assign.
2. I think either of those solutions will work fine. I guess it is slightly unnecessary to have a log file, if the user never uses the logging-function. But we are also aiming for simplicity in our code, so if you think one of the solutions are e

[2018-04-27 18:33] lineaba commented on #58
Setting focus is a great idea, I'm all for it.
As for hitting enter, I don't know if there is a standardized way of doing it in Tkinter. I know Tkinter let's you take and save keyboard input, but I have only used it for the entire keyboard, not for a specific button. I think there could be some "hacky" solution, where we could check every time a key is pressed, whether the input is equal to "\n".

[2018-04-27 18:34] #28 closed

[2018-04-27 18:58] B-Souty commented on #44
@lineaba It seems like everyday the look of the prog-o-meter changes on my computer because I keep playing around with the settings. Unless we get other people complaining about this,  I don't think we should waste time on this.

Plus, lately the fonts size seems to have reduce somehow and it now fits fine in the window. If nobody else complain about this by monday, I'll close the issue. How does

[2018-04-27 19:04] lineaba commented on #44
Yeah, that sounds good!

On Fri, Apr 27, 2018, 11:58 B-Souty <notifications@github.com> wrote:

[2018-04-27 23:24] B-Souty commented on #23
hmmm, I'm checking on my windows VM.

[2018-04-27 23:48] B-Souty commented on #23
@lineaba Ok I found the issue on line 134: `return datetime.date.strftime(completion_date, "%B %-d{0}, %Y".format(suffix))`

Apparently "%-d" is not supported on windows instead we need to use "%d". On Linux it allows to display the day as 1st, 2nd, 3rd, 4th, ... instead of 01st, 02nd, 03rd, 04th, ...

the quick fix is to replace line 134 with  `return datetime.date.strftime(completion_date, "%B %

[2018-04-27 23:54] lineaba commented on #23
Glad it was such a simple fix. I can change it and open a PR if you wanna approve it, or the other way around :)

[2018-04-28 00:00] lineaba commented on #23
I have fixed it and opened a PR. Take a look, and see if you can approve when you have time :)

[2018-04-28 00:02] B-Souty commented on #23
Alright, I'll approve it as soon as it's in. My apologies for that, I had no idea there was such difference betzeen windows and linux. I'll do my tests on my windows VM as well from now on.

[2018-04-28 00:06] lineaba commented on #23
No worries, I hadn't either. I mainly use windows, so I hadn't considered these types of issues when I started collaborating. But it is all part of why I started the project, to be able to learn more of the "real issues"

[2018-04-28 00:25] B-Souty commented on #23
@lineaba I edited your original comment on PR#60 to add a "#" in front of the issue number to create the link. This way, it gets automatically referenced in the issue ;)

[2018-04-28 19:29] lineaba commented on #23
Cool, i probably missed it, thanks for adding it.

[2018-04-28 19:29] #23 closed

[2018-04-28 20:12] lineaba opened #61 "Limit click pr. day"
In order to avoid that the user accidentally clicks "1 more day" twice in the same day, and then have to manually reset their count correctly, we could add a limit - either a fully enforced limit, or we could have have a pop-up if the user clicks the button again the same day, that asks "You already clicked once today, are you sure you meant to click again?"
We could store a timestamp for the late

[2018-04-29 03:27] lineaba commented on #61
I think the database would be very helpful for this issue. We would be able to store the timestamp information of the user's last login in the database.

[2018-04-29 03:35] lineaba opened #62 "Change size of radio buttons"
__First timers only__
_This means that this issue have been determined a good place to start for someone who have not been contributing to open source before. Let us know how we can help you get started or if you have any questions. We would really love for you to join us_

We have two buttons in the first window the user opens. Right now they have different width, and that looks a little silly. I

[2018-04-29 04:02] garroadran opened #64 "Create user object"
I think we will want to represent the user as an object so that we can store all of their information in a nice little abstraction. This will make it easier to store lists of users, update the user's data, etc.

I'm self-assigning this, but I might not actually get around to it for a day or two, so if anyone has strong feelings on how we should go about this, let me know.

[2018-04-29 16:17] krishane2018 commented on #62
Can I try this?

[2018-04-29 17:52] lineaba commented on #62
Hey @krishane2018 welcome to the team, I'll take a look at your pull request :)

[2018-04-29 18:00] krishane2018 commented on #62
Alright thanks!

[2018-04-29 18:49] kevalvc commented on #29
Hello, can i solve this issue?

[2018-04-30 01:02] kevalvc commented on #29
@lineaba sure, thanks a ton.

[2018-05-01 22:07] etiontdn commented on #37
Hi i'm new to opensource contributing and i want to help since it looks as simple as adding a tutorial of how to install and use i want to do it, if no one as done it already.

[2018-05-01 22:09] #10 closed

[2018-05-01 22:11] lineaba commented on #37
Hey @etiontdn, welcome to the team! It would be super helpful if you would want to do that, and I think it would be a nice way to get introduced to the program, if you would be interested I'm making other contributions later. Let me know if you have any questions or want any help getting started.

[2018-05-01 23:16] etiontdn commented on #36
If this is still open or needing help, i would like to help!

[2018-05-02 00:03] etiontdn commented on #37
Thanks! I want to ask if i should do it in the README.md or make a new file like TUTORIAL.md?

[2018-05-02 00:25] etiontdn commented on #37
Thanks i will start working on it!

[2018-05-02 00:29] lineaba commented on #37
That's awesome :)

[2018-05-02 13:03] elheffe80 commented on #36
I am working on this by learning from scratch. As such, any and all help is welcome!!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-05-02 15:54] tremainebuchanan commented on #48
Hi, My name is Tremaine Buchanan, a web developer from Jamaica. I would love to port this idea to a web application. I would target new PHP developers.  I too am learning PHP, but I've experience in both front end and back end JavaScript in addition to MYSQL and MongoDB(NoSQL). Let me know what you think.

[2018-05-02 19:10] lineaba commented on #37
Hey, I am sorry I am a little slow with responses right now, as I am having exams and a travel ahead of me, I'm trying my best to keep up. I'll take a look.

[2018-05-02 21:35] etiontdn commented on #37
All right, Good luck for with the exams and tripl  :smile:

[2018-05-02 22:18] etiontdn commented on #36
@elheffe80 I made a demo but didn't implement the Tkinter GUI check it out: https://github.com/etiontdn/db_demo_for_prog_o_meter
for me it worked both on python2 and python3 if it outputs any error tell me!

[2018-05-03 03:00] sdkwok commented on #32
Hi Linea,

I just made a pull request containing the new logging feature. A description of the changes is included with the request.

[2018-05-03 13:25] elheffe80 opened #72 "Get latest humble bundle dev!"
This is not related to prog-o-meter directly, but is a great resource!!

https://www.humblebundle.com/software/python-dev-kit-bundle

Not affiliated, nor an affiliate link.  However, there is a LOT of great stuff in there, so spend the $20 and get everything.  Totally worth it for the training videos, software, and everything.

[2018-05-03 17:58] nathanhannig commented on #61
My concerns of limiting to one click is if a user needs to mark the days that they may have forgot to login but actually did complete.

You could maybe limit it based on how many days since the last login. An Are you sure message seems like a good idea as well.

I disagree adding any limits to the database model . Sounds like logic that needs to exist on the button event.

[2018-05-03 18:11] nathanhannig commented on #48
For a web based app it is common to use MySQL (common with PHP), PostgreSQL (common with Python), or MongoDB (common with Node / React).

I recommend making this a web app accessible from the internet and not for download. It will make it easier for people to find, use in multiple location, and show off.

I think using Node / React would be great for FCC contributors. It also allows a chance for c

[2018-05-04 01:09] garroadran commented on #33
I would suggest creating a Goal class, and maybe something like MainGoal and PartGoal classes that inherit from it. Then the user could have a single MainGoal attribute and a list of PartGoals associated with them.

[2018-05-08 04:15] barabulkit opened #75 "Empty username field problem"
When i am launching the prog-o-meter, its asks do i have a meter, in both situations i should input username, and i can leave it empty and submit(or close this window), and there will be no error, and i think its some kind of error, may be its better to check if field is empty and give a notification to user that this field is empty, and also how i describe early its will work when i close this wi

[2018-05-09 15:15] coa-coa commented on #49
May i take this one?

[2018-05-11 01:53] lineaba commented on #72
Nice suggestion. @elheffe80 when the humble bundle sale is over, will you close the issue? :)

[2018-05-11 02:14] lineaba opened #76 "Add twitter logo"
In the new feature added by @garroadran, where the user can tweet at their completion, we do not currently have the twitter logo included, because we need to figure out which format to use, to make the program compatible across operating systems.
There has been a longer conversation about this in the Pull request #73 so it will be useful to reference this, to gain an idea of the issue.

Please che

[2018-05-11 13:44] etiontdn opened #77 "The latest commit does'nt work on python 2 anymore"
Is it supposed to not be python 2 compatible?
is prog-o-meter moving to only python 3?

I made some tweaks on my local code for it to work for both python 2 and python 3 but i want to make sure that it is supposed to be like this or maybe it is only me.

[2018-05-12 21:45] lineaba commented on #77
Sorry, I was not aware of that, I apologize that I didn't test it sufficiently. I think the general consensus between contributors have been that we focus on python 3. I understand this sentiment, and personally would be fine with moving to python 3 exclusively. Unless there are opinions against this, I will make the proper changes in documentation and make it clear that the prog-o-meter is a pyth

[2018-05-13 13:03] etiontdn commented on #77
@lineaba Don't worry i just think you should change the README to make sure no one gets a problem trying to run it with python2

it wasn't hard to make it work just made a change to the imports it looks like this:
[code]
[code]

[2018-05-13 20:07] nathanhannig commented on #48
MySQL is a great choice, it has a lot of beginner tutorials on the web
https://www.w3schools.com/nodejs/nodejs_mysql.asp

But MongoDB might be a popular choice since the technology stacks for JS usually prefer that DB. But I have less experience with NoSQL type of databases. And I am learning them as well.

[2018-05-14 18:37] tremainebuchanan commented on #48
I could start a pretty basic mockup in HTML and CSS. Will we create a new repo for the web application @lineaba?

[2018-05-15 05:41] lineaba commented on #77
Cool, I'll update the readme. Thanks for letting me know :)

[2018-05-15 06:53] lineaba commented on #77
readme is updated

[2018-05-15 06:53] #77 closed

[2018-05-15 06:55] lineaba commented on #27
This issue is still up for grabs

[2018-05-15 06:58] lineaba commented on #75
Hey, thank you for pointing this out. We have known about it for a while, and I thought I had opened an issue for it, but it doesn't look like I actually did. d3giigii already solved this problem, but if you are interested in working on something similar, you could take a look at issue #27 we really wanna get that fixed, so that would be a huge help if you wanna take a look at that @py-den

[2018-05-15 07:39] lineaba commented on #48
Awesome. @tremainebuchanan I will set up a new repo in the weekend, and a basic mockup would be a great start :)

[2018-05-15 07:42] lineaba commented on #49
@coa-coa I am sorry it took so long to get back to you, I have been out of time and studying for finals. But yes, if you are still interested, you can definitely take this! Let me know if you have any questions :)

[2018-05-15 07:43] lineaba commented on #33
That's a good idea!

[2018-05-15 07:46] lineaba commented on #61
hey, sorry it has taken me this long to get back to you @nathanhannig. I agree, that since we have now (almost - just waiting for some final changes before merge) added functionality that lets user remove a day if they clicked the button on accident, or manually set days (within 0-100), the limit it self does not add must value to the program
(The talk of database was never to add a limit to the d

[2018-05-15 07:46] #61 closed

[2018-05-15 19:03] sdkwok commented on #75
I've checked this on my machine (a MacBook) using the most recent version, and I still get a problem: when I click "I already have a meter" in the start window, a second window pops up where I can enter a username.

The problem is that when I enter text that is NOT the name of an existing user, or if I leave the field empty as py-den did, and hit "Submit", the program stops, all windows close, and

[2018-05-15 19:27] #32 closed

[2018-05-16 02:45] d3giigii commented on #75
@sdkwok The latest merge didn't include my PR which addresses this issue. Since I will be splitting the PR into separate pieces I'll look into adding that alert as well.

[2018-05-16 16:55] lineaba commented on #26
Awesome, thanks @sdkwok

[2018-05-18 23:12] etiontdn commented on #72
The humble bundle is over.
 i think this issue should be closed.

[2018-05-19 12:15] elheffe80 commented on #72
As stated- bundle completed. Closing issue. Hope people got value from it.

[2018-05-19 12:15] #72 closed

[2018-05-19 15:32] elheffe80 commented on #31
I can’t find the time to do the database, so I’m gracelessly bowing out of that one! I’m barely finding the time to review the pep8! 8D

v/r
Ben Heffron

Forgive brevity, this was sent from a mobile device.

[2018-05-19 15:55] etiontdn commented on #31
Great, i will do it then.
If you have an idea of how the personalization window should look like I'm open for suggestions

[2018-05-20 19:08] ThadeuJose opened #82 "Hi, my name is Thadeu Jose - I want to help in the project"
I'm new to github and to contribute to open source but Ilooked  to your project and I really want to contribute. I recently graduate in computer science so if have anything I can do im glad to help

[2018-05-23 06:57] notACoder69 opened #84 "Hi, I'm Aritro, and I wanna contribute."
I want to port this to mac OSX.

[2018-05-26 15:36] dominicduffin1 commented on #25
I would love to take on the design side! I've only just started with Tkinter but it seems reasonably straightforward.

What's the protocol for making design changes? Should I consult beforehand about what to do, or work on some ideas and present the results for feedback?

[2018-05-27 22:42] lineaba commented on #25
Hey, you'll be the first to work on design, so we don't have a set procedure. Would you prefer to bounce some ideas back and forward before you start, or do you wanna just get started on a version, and then get feedback and work further based on that? Are you planning on working on a sketch, or to actually work with tkinter?

[2018-05-28 01:51] lineaba commented on #84
Hi, I am sorry it has taken me some time to get back to you, I have had a lot of midterms.
Making an app is a really interesting idea, had not thought of that, since we've mainly been talking about making a web-version.
Do you imagine it being an online or offline app?

[2018-05-28 01:52] lineaba commented on #82
Hey, welcome to the project, I am sorry it has taken me a while to respond, I have been having midterms.
I am glad you wanna help. What kind of work are you interested in doing?

[2018-05-28 05:16] lineaba commented on #75
hey @d3giigii I don't think you have added this solution yet? Or have I overlooked it?

[2018-05-28 05:16] #64 closed

[2018-05-28 05:17] #62 closed

[2018-05-28 05:17] #58 closed

[2018-05-28 05:18] #54 closed

[2018-05-28 05:19] #52 closed

[2018-05-28 05:21] #47 closed, assigned to nobody

[2018-05-28 08:51] dominicduffin1 commented on #25
I'd be quite keen to play around with some ideas and see how they work and then present the ideas that I think look best for some feedback. I'd like to work with the tkinter.

[2018-05-28 09:48] notACoder69 commented on #84
I think, for now, offline is a good option.

[2018-05-28 11:14] garroadran commented on #26
@sdkwok
Please take a note of the recently merged changes in PR #74 .
Those changes will affect this issue significantly. You will probably need to pull the changes from the upstream, and then depending on how much work you've already done, merge some of them in manually.

(If you don't understand what any of that means, please don't hesitate to ask here, and I'll do my best to walk you through th

[2018-05-28 13:21] etiontdn commented on #25
I think it would be nice if you take a look at ttk(Tk Themed Widgets), it is mostly tkinter since both of them come together and can be used together, but ttk has a more modern feel and can be customized using Style which makes it more beautiful in my opinion,
just a suggestion no pressure, since you said you just started tkinter i think you should first familiarize with it first but take a look a

[2018-05-28 17:07] ThadeuJose commented on #82
I dont know. I think GUI and Code.

[2018-05-29 02:35] #45 closed

[2018-05-29 02:36] #44 closed

[2018-05-29 02:37] #37 closed

[2018-05-29 02:37] lineaba commented on #36
Work is in progress

[2018-05-29 02:39] lineaba commented on #35
This work is in progress

[2018-05-29 02:40] lineaba commented on #31
work in progress

[2018-05-29 02:40] #30 closed

[2018-05-29 02:41] #29 closed

[2018-05-29 02:41] lineaba commented on #27
work in progress

[2018-05-29 02:45] lineaba commented on #25
Awesome, give it a go @dominicduffin1 and let us know when you have anything you want feedback on :) I merged in a bunch of new features yesterday, so it would probably be a good idea to pull from upstream if you haven't already (let me know if you need any help).
@etiontdn I hadn't heard of tkk, but it definitely sounds interesting :)

[2018-05-29 02:56] lineaba opened #86 "Change to dummy varibles"
__First timers only__

_This means that this issue have been determined a good place to start for someone who have not been contributing to open source before. Let us know how we can help you get started or if you have any questions. We would really love for you to join us_

There are certain places in the code where the variable i is used in the condition of a loop, but is not actually used in th

[2018-05-29 03:01] lineaba opened #87 "add user.py to project overview"
Hi @garroadran
When you have time, do you wanna add user.py to the overview now that it has been merged?

[2018-05-29 03:28] lineaba opened #89 "Make reach_goal function"
We have a number of different actions that happens when a user reaches their goal - disabling the input button, and changing some text on the canvas.
We currently have two different conditions that do more or less the same, one happens if the user opens the window and has already reached their goal, the other if the user clicks the button that leads them to reach their goal (for the second one, be

[2018-05-29 03:30] lineaba commented on #82
Hey, I have just been adding a few new issues, that you might be interested in checking out: #89 or #86 If you have other suggestions for things we should add to the program, that you would like to work on, that is also super cool, just let me know :)

[2018-05-29 03:35] lineaba commented on #84
Cool, I agree. I don't have any experience with app development, so I am looking forward to learning more.  The only thing that I am a little unsure about is how useful this will end up being since we are gonna start developing out webpage, and we already have an offline version that can be used on mac, through the tkinter app that is what we have built here. But since this project is mainly built

[2018-05-29 04:02] lineaba commented on #48
@tremainebuchanan I am so sorry this have taken so long. I have created a repo for the web app [here](https://github.com/prog-o-meter/prog-o-meter-web).

[2018-05-29 09:07] dominicduffin1 commented on #25
@lineaba Will do, thank you! :)
@etiontdn Thank you for the suggestions - I like the sound of Themed Widgets (but I think you're right I should familiarise myself with tkinter first). TkDocs is super useful looking too!

[2018-05-29 11:06] garroadran commented on #87
Will do!

[2018-05-29 17:04] ThadeuJose commented on #82
Ok. I will do #86 then #89.

[2018-05-29 17:04] ThadeuJose commented on #89
I take this issue.

[2018-05-29 22:48] lineaba opened #91 "Add confirmation when user save to log"
We have a new logging features, which lets the user save text to a log. When the user clicks save, there is no visual confirmation that the text have been saved, which might make the user unsure whether there changes have been saved.
Can we add some sort of confirmation, either a popup, or a little checkmark or something, that lets the user know their changes have been added?
Alternatively, we cou

[2018-05-29 23:55] sdkwok commented on #91
Hi @lineaba, just for simplicity's sake I didn't add such a feature at the time, although it did cross my mind. I can take a look at this again and try adding a popup to alert the user. Although it does seem like a message or a checkmark in the text window might be less obtrusive.

[2018-05-30 05:11] lineaba commented on #91
Yes, I think a small checkmark or animation, or save on close (maybe button
text can just be save&close) would be preferable to a pop-up.

On Tue, May 29, 2018, 16:55 sdkwok <notifications@github.com> wrote:

[2018-05-30 16:58] dominicduffin1 opened #95 "Refresh meter design"
I'd like to suggest some changes to the design of the meter:

1. Make canvas background white
2. Change the initial fill colour of the rectangles to a light grey
3. Change the outline of the rectangles to white to match the new canvas background colour
4. Change the shade of the blue and green to a fresher custom shade

If these ideas sound good, I'd like to work on it. If not, I'm happy to change

[2018-05-30 18:57] psuhas77 commented on #49
If the issue is still open, can I take this one up?

[2018-05-30 20:06] lineaba commented on #95
It all sounds good. I have one "worry", one question and one comment:
What do you mean with number 3? If we make the outlines white on white background, would that mean that each individual rectangle would not be visible, or would they still be visible, because their basic color is light grey?
My "worry" is whether there will still be coherence between the welcome and log-in window which have grey

[2018-05-31 09:28] dominicduffin1 commented on #95
With number 3, yes, the grey background means they will still be visible, but the borders will blend with the canvas.
Coherence is a potential issue. One idea I had that might help is to put the buttons in an area to the side of the canvas, which would have a grey background the same as the other windows. This would also have plenty of room for some more buttons for user customisation options.
Usi

[2018-05-31 15:03] py-den opened #98 "meter restart"
today i was writing additional sharing buttons, and i was tired by editing the meter file before testing how do the buttons works, so i thinked that probably there must be an ability to restart a meter after completion, and also right now, if i created a meter, and then i press button "i don't have a meter yet", and inputing the same name, i will just overwrite the progress that have been done, i

[2018-06-02 12:55] omkar2810 commented on #86
Can I work on this issue,just want to get the taste of contributing with this task.

[2018-06-02 22:51] lineaba commented on #86
Hey @omkar2810 ThadeuJose have already solved this issue, but since I haven't merged it yet, if you just want to try it out, you can clone the repo and try it out on your own.
You can also just clone our repo and walk through it and see if you understand what the code does. If there a places where it is unclear what the code does, it would be useful if you would tell me where, cause then I know we

[2018-06-03 05:00] lineaba commented on #98
I think that adding a process to check if an existing meter exists is a very good idea.
For the restart option, I agree that this is something we should work on, but there are a couple of things we need to consider. Mainly, if people are using the logging function, it would be nice to keep them seperate. So for example when a user resets their meter, they should have a new log_file created, for ex

[2018-06-03 05:06] lineaba commented on #95
A button panel is a nice idea, I could imagine that working out. The only question is whether it should be to a side, or maybe rather in the bottom of the window. Either way, we wanna make sure that we keep room for more buttons, but I imagine that the personalisation will only have one button, which will take the user into a customization setting window. (However, I am open to other solutions her

[2018-06-03 05:10] lineaba commented on #98
So an update: @etiontdn is working on implementing a database, and that includes checking existing users, I believe we might be able to user the same method for the problem you are raising, so there is no need to start working on this.
The reset option is still something that we can keep working on.

[2018-06-03 05:15] lineaba commented on #95
Just an update, @etiontdn have already been working on some personalisation letting the user choose colors etc. The code is not merged yet, just wanted to let you know that it is on its way.

[2018-06-03 05:31] #86 closed

[2018-06-03 05:33] lineaba opened #99 "Add "No thanks" button to share window"
__First timers only__

_This means that this issue have been determined a good place to start for someone who have not been contributing to open source before. Let us know how we can help you get started or if you have any questions. We would really love for you to join us_

When the user reaches 100 days on the prog-o-meter, a window opens, that suggest that the user shares the celebration on twi

[2018-06-03 05:37] lineaba commented on #99
@omkar2810 you could possibly take a look at this, if you wanted.

[2018-06-03 05:48] omkar2810 commented on #99
Ok , thanks I will read the code and try to do the task.

[2018-06-03 11:49] omkar2810 commented on #99
I am done with the work . Just wanted to ask to which branch should I send the pull request.
I would be very nice if you could explain the procedure briefly. Thanks

[2018-06-03 18:54] arielzv opened #101 "Hi, I'm Ariel and i want to contribute"
Hi,
I'm new to git but not to python / tk.
I'll like to contribute, on any issue you think fits, I hope i won't need a lot of help with git.

also I've encountered few issues, I'm not sure if you already have open tickets for:
(I'm using windows, python 2.7).
1. first when running prog-o-meter.py i had this issue

  so I created an empty file called "__init__.py" file in congratulations folder, th

[2018-06-03 21:13] Komorebi-Girl commented on #49
Hi! If @coa-coa  isn't available, I am still pretty new to contributing to open-source projects and would be happy to take on this or any other task you recommend. Thank you!

[2018-06-04 03:11] lineaba commented on #101
Hey, welcome to the team it is nice to have you join. I will look more thoroughly through the issues you mentioned as soon as I can, but I see you are running python 2.7.
We have switched, and are only supporting python 3.x. Would you mind testing if you get the same issues when using python3?
Also, just to make sure, I believe our documentation says we run python3, but if you ran into documentati

[2018-06-04 03:12] #87 closed

[2018-06-04 04:07] d3giigii commented on #101
Hello Ariel,

Welcome to the project and Git as a whole. Being someone with previous Python and Tk experience I'm sure there will be a lot you can contribute.

Regarding the issues you mentioned...
1. I'm almost certain this is because you're running Python 2.7 (thanks for including that info btw). I'd recommend running with Python 3+ and seeing if this resolves itself.
2. Definitely because you'r

[2018-06-04 04:16] arielzv commented on #101
Hi,
I'll be happy to work on #3 and #4.
Linea - user_guide.md says you are supporting python 3, about that I'm sure that in the future we can make it support python 2 with a few adjastments. Linux/mac users get python 2.7 as the default python.
Thanks!

[2018-06-04 05:28] lineaba commented on #49
@Komorebi-Girl feel free to start working on this issue. We have not heard anything back from @coa-coa.
One note that I am not sure whether was clear in the original description. Our project already have lots of different pop-up windows, and I think it is nice to not add others when we can avoid it. You can consider if adding the image fits best directly on the canvas (perhaps instead of the encou

[2018-06-04 06:51] d3giigii commented on #101
@lineaba My bad, I'll remember that for the future.

[2018-06-04 07:02] omkar2810 commented on #24
Is someone working on this currently , otherwise I'd like to take this.

[2018-06-04 07:54] sourabh8244 commented on #49
I would like to take this issue for my first PR. I hope to fit in the image in the canvas itself with an image that's open to use. May I start along side @Komorebi-Girl and this might just give me some experience in working on this even if it isn't as good as @Komorebi-Girl .

[2018-06-04 08:52] d3giigii commented on #75
The fix is currently branched on my fork. I've been waiting for #80 to get merged but I can push the fix later today.

[2018-06-04 09:20] omkar2810 commented on #91
Can I work on this.
Actually I have also commented on another issue(restart meter) ,so just let me know which one is available to work.
PS - I would be great if you could explicitly mention if someone is working on a given issue , I am finding it a little bit difficult to know whether I should work on some issue or not as someone else might be working on it already.
Also let me know if there is al

[2018-06-04 09:33] dominicduffin1 commented on #95
I think it would probably be best to put the button panel at the bottom of the window. I personally prefer the aesthetics of the side option, but on reflection I think it will work better with the constraint of the shape of the meter (which we definitely don't want to change).
My thinking about using grid is that when you've got quite a few elements to position it's easier to create a nice layout

[2018-06-04 16:59] lineaba commented on #95
Yes, the shape of the meter gives some challenges, and it will be interesting how to handle that when developing a webapp in the future, given that webpages are often used on phones (but that is a worry for later, and not relevant to your question. I agree that button panel at the bottom is the way to go.
Regarding grid, I don't see any issues with using it, giving that we are already using pack a

[2018-06-04 17:01] lineaba commented on #24
Hey @omkar2810, this issue have already been solved, it has just not been merged yet, because some details need to be worked out.

[2018-06-04 17:14] lineaba commented on #91
Hey @omkar2810, we gotta ask whether @sdkwok got started on this, if not, you can go ahead. I will give an update as soon as possible.

Regarding whether someone is working on a specific issue, my best suggestion is reading through the comments in the issue For example you can see above that @sdkwok says they'll work on it. I can't always guarantee that someone will finish something, just because

[2018-06-04 18:07] omkar2810 commented on #91
Thanks @lineaba ,I completely understand your point. Just wanted to know the correct way of approaching the issues .
Anyways, I am completely fine with what you have suggested and will try to work accordingly.

[2018-06-04 19:12] arielzv commented on #101
@lineaba issues 1,2,5 fixed when using python 3.
I think I solved issues 3,4
you are welcome to check the pull requests.

Thanks

[2018-06-04 20:05] arielzv commented on #76
hi, can I work on this issue?
@garroadran
@lineaba

[2018-06-04 21:18] lineaba commented on #76
Hey @arielzv I believe you can go ahead and start working on this, I don't think @garroadran have been working on it (@garroadran - please correct me if I am wrong).
Please check the conversation in Pullrequest #73 before you start working, as a new solution need to avoid the original issues we had with the format. Feel free to ask if you have any questions.
Also notice that we now also have a fac

[2018-06-04 21:24] lineaba commented on #101
great about issue 1, 2, 5.
I will check the PR as soon as I can, but it may be a few days, as school is getting close to finals and I am getting busy. Sorry about that.

[2018-06-05 03:03] lineaba commented on #91
Hey @omkar2810 I just spoke to @sdkwok. You can go ahead and start working on the issue. I suggest you go the route of doing a save&close button, but if you can find a way to graphically give information that something have been closed (with a checkmark or something like that) that is cool too. We just wanna avoid another pop-up window. Let me know if you have any questions :)

[2018-06-05 05:56] omkar2810 commented on #91
Ok @lineaba I take this issue.
Just to be sure , I have to integrate the save and close buttons into a single "save and close" button and on pressing the button there should be some sort of indication(preferably an animation or a check mark on the main window itself) that the log has been saved successfully,

[2018-06-05 06:04] lineaba commented on #91
Combining save and Close will be sufficient. The animation was an
alternative to save and close, where each would be their own button, and
when you save you would see an animation to know save had been successful.
But I personally prefer the save and close option (without animation).

On Mon, Jun 4, 2018, 22:56 Omkar Gurjar <notifications@github.com> wrote:

[2018-06-06 16:15] Komorebi-Girl commented on #49
Thanks @lineaba! I'll come up with an idea of how I want to implement this feature and run it by you later today or tomorrow.

[2018-06-06 20:39] lineaba commented on #49
@sourabh8244 You are welcome to work on this if you wanna get familiar with the project and tkinter. However, I plan on merging @Komorebi-Girl's contribution, since they "claimed" the issue first.
But I would highly encourage you play around with the code. Maybe you get ideas for something you think we should add, then just open a new issue and tell us about your idea, and you can start working on

[2018-06-07 21:59] lineaba opened #105 "Share progress"
Since we now have support for sharing online when the user reaches the goal, I think it would be interesting to make a possibility to share a snapshot of one's progress on social media.

This requires:
(1) Automatically grab a screenshot (or to create an image file that displays the look of the user's current progress bar).
(2) Open the social media platform of the user's choice in browser (we cur

[2018-06-09 10:20] arielzv commented on #105
the screenshot is of the "main" prog-o-meter screen?
I can work on this issue.
also I think we need to change the text on the main screen when the user complete the goal to a more appropriate text (I'm open to suggestions here)

[2018-06-09 23:21] Komorebi-Girl commented on #49
Hi @lineaba, I'm sorry for this but can I surrender this issue to @sourabh8244? I was too excited to contribute to an open source project that I didn't realize that the project was written entirely in Python which I admittedly don't know well at all. I don't want to delay the project when there's someone ready and available to take this issue on. Again, sorry for the inconvenience.

[2018-06-09 23:32] sourabh8244 commented on #49
I would surely want to contribute if at all I can. I have already forked
your repository and going through your codes. I got to learn a lot. Should
I find an issue I feel like I can work upon I will certainly put forth my
name😊

On Thu, 7 Jun 2018, 2:09 a.m. Linea, <notifications@github.com> wrote:

[2018-06-10 00:43] lineaba commented on #105
![prog-o-meter screenshot](https://user-images.githubusercontent.com/32916783/39079746-ba68340e-44d5-11e8-9665-95520b3b8ca8.JPG) This is the window that I meant with "main" (old screenshot, looks slightly different now). We can either grab entire screen including text, or just grab the progress-bar, I am open to either (or potentially both, giving the user the choice).
What do you consider a more

[2018-06-10 00:48] lineaba commented on #49
@Komorebi-Girl we are not in a hurry, so don't feel like you can't give this a try, we want this project to be a place for learning. Let me know if you would like some help finde a simpler issue to start out with. @sourabh8244 if you want to work on this issue go ahead and when you are ready, send a pull-request.

[2018-06-10 17:51] dominicduffin1 commented on #95
Do we have any idea on the timescale for the personalisation changes? Just wondering whether it would be best to wait for them to be implemented before starting any redesign.

[2018-06-10 18:08] etiontdn commented on #95
@dominicduffin1 The GUI for personalization that i was working on didn't get a code review yet, but it is getting out of date from the recent commits, i don't have a lot of time for working on it either, you can take a look at it on my fork if you want.
I can update it later if you want to work on design it is outdated already, updating a little more won't change the things a lot. 😃

[2018-06-11 15:55] RavinSG commented on #49
Hello, I'm looking for a OS project that I can contribute to as my initial step entering to the community. It would be great if I can take part in this! :)

[2018-06-12 19:56] arielzv commented on #105
@lineaba after a quick search, I found that you can't take a screenshot with python standard library. If I'm not wrong you wanted to keep this project without external libraries.

about the finish-text, this is how it's shown today:
(b.t.w - notice the social media buttons and the correct date)

![finish_screen](https://user-images.githubusercontent.com/17690217/41313455-98517948-6e92-11e8-8045-ed

[2018-06-13 11:30] praful-dhabekar opened #107 "Hi.. I'm Praful Dhabekar and I want to contribute to this project"
I'm new to python but I have some knowledge on github. I'll start learning python so I can contribute and I also would like to contribute in documentation such as spelling error. Actually I found one _CONTRIBUTING.md_ . If you guys want to assign me other task I'm happy to do that too.
Happy Coding.

[2018-06-13 23:13] sdkwok opened #108 "New user can overwrite existing user file"
A new user can inadvertently overwrite an existing user file as follows: suppose someone creates a new user ‘USERNAME’. Then a user file ‘USERNAME.txt’ is automatically created.

However, If a user starts prog-o-meter again, clicks on “I don’t have a meter yet!”, and enters the same 'USERNAME', prog-o-meter will overwrite the existing file ‘USERNAME.txt’ with a new, blank file also named 'USERNAME

[2018-06-21 07:20] lineaba commented on #107
Hey welcome to the project, I am sorry it has taken me a long time to reply to this, I have been having finals in school! It's awesome that you wanna join the project, and learn python too! Would you mind opening a pull request with a correction of the spelling error you find, we would like to correct that (and if you find other errors, feel free to open pull requests with corrections to them too!

[2018-06-25 10:07] praful-dhabekar commented on #107
It's okay.. at least you replied. I'm adding a pull request. And I've also cloned the repo in my local system. I'm checking few things here & there if I find something I'll definitely raise an issue or I'll drop a comment here. I'll be checking documentation too for any spelling errors and grammatical mistakes. Hope it'll help everyone who will be joining our little journey.

[2018-06-30 14:27] kaanant commented on #108
Hi, I am Kaan. I am new in opensource community.I am a developer and i solved that issue.  I want to contribute to this project. @lineaba

[2018-06-30 21:47] lineaba commented on #107
Hi @praful-dhabekar I have not yet received your pull request. Let me know if there is anything I can help with to get your suggestions added to our project :)

[2018-06-30 21:51] lineaba commented on #108
Hi Kaan, welcome to the project :) Since we are currently working on implementing a database, I am not completely sure yet if this problem will continue to be an issue, and even if it will still be an issue, the fix to it will be different, since we will no longer be storing the user data in a .txt file.
I appreciate your help, and I will let you know if we still need a fix of this after the datab

[2018-07-01 08:15] kaanant commented on #108
Thanks for reply. I will check other issues and i think i should ask first if that issue will be fixed according to the answer i can fix an issue. I appreciate to be contributer that project. Have a nice day (:

[2018-07-01 16:11] kaanant opened #110 "Hi I'm Kaan and i want to contribute that project"
Hello everyone, i want to contribute that project. But when i check issues all of them seems assigned someone or expired. How can i contribute that project. Does all issues up to date? If someone need help in some issue i want to  help them. @lineaba may u show me the path? (:

[2018-07-06 00:42] Jeff-Moorhead opened #111 "Display message when saving log entry confirming successful save."
Hi, I am a first-timer in the open source community and I'm excited to get going. I was using prog-o-meter, and I noticed that when I saved my log entry for the first day, nothing happened telling me that the log was saved. I would like to contribute code that displays a message saying that the message was saved successfully. A more advanced addition would be to allow the user to access their log

[2018-07-12 17:45] Vidy-a commented on #49
I can see this isn't assigned to anyone yet. Can I work on this?
I have experience with python, but not with open source, and I'd love to start!

[2018-07-16 15:57] everydayISfriday opened #113 "Hi, it's everydayIsfriday here and i want to contribute"
Hi  lineaba,

If you have some new issues to be resolved, I am ready to help :]

Regards,
everydayIsfriday

[2018-07-19 07:43] kss682 opened #114 "Hi , its Srinidhi krishna and i would like to contribute"
Hi , I am new to contributing to projects, I have a decent knowledge on python .

[2018-08-04 13:58] import-keshav commented on #49
getting error while doing push request.
can anyone help me.
error is :: " Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists. "

[2018-08-06 07:30] capsulecorplab commented on #35
I've yet to peruse the entire source code, but something perhaps worth considering is looking into existing [design patterns](https://github.com/faif/python-patterns) that would best suit the current design intent and/or future feature implementations.

[2018-08-16 00:07] reedwilemon commented on #49
@lineaba Hi! I'm interested in contributing to this or other (simple) issues. Let me know! :)

[2018-08-18 10:04] anubhavsinha98 opened #116 "Text on the START GUI buttons, not properly aligned!"
Hey I can solve this issue!

[2018-08-19 11:25] import-keshav commented on #33
I would like to take this issue.

[2018-08-25 13:14] anubhavsinha98 commented on #76
Hey can you review my PR #115

[2018-08-28 14:21] RamNewton opened #118 "Notify before exiting in case the given username hasn't already been registered"
Hello, I am Ram Newton. This is the first time I am trying to contribute to a project.
I noticed that no message is displayed to the user when an unregistered username is entered. The program just unceremoniously closes. A notifying popup feature can be added. Or even better, the program can offer to create a new prog-o-meter for the unregistered username. I would like to contribute for this

[2018-08-30 13:39] nisnt2411 commented on #49
Hi  @lineaba
if this issue is still open i would like to contribute it as my first PR , i'm good with python but a novice to open source. If in case it's not open still i would like you guys  to check my work, also it would be great if you guide me to some other beginner issues. let me know whatever case it is.

[2018-08-31 21:56] mayank-kr-verma opened #119 "Hi! Mayank here and i'd like to contribute"
Hi lineaba,

I'd like to help out too. Moderately experienced with python. Reply soon.

Regards,
Mayank

[2018-09-03 20:12] sumit9696 commented on #49
Can i take this issue as I am new to open source and would like to get my first PR merged so that I can work further with some confidence.?

[2018-09-21 12:35] kashishkhullar opened #121 "Hi, my name is Kashish"
Hi Linea

I'm Kashish Khullar. Firstly, I would like to mention that reading your article on medium was a relief. I have always been afraid of contributing to open source. I am a beginner in python and contributing to your repository could help me a lot.
Previously, I have been working on node and javascript. I have a newfound interest in python and would like to start my journey into python by co

[2018-12-27 04:36] BachAmadou opened #122 "Contribution request"
Hi, my name is Bachir, and l have been learning to code for some time now. Now I would like to contribute to an open source. But l can see this project is about python, so is there any front end staff l could contribute to with javascript???

thank you

[2018-12-27 04:39] BachAmadou commented on #122
Im open to suggestions about getting to contribute to the project, with javascript. If using javascript on this project may not be useful, please any suggestions might help. thanks

[2018-12-27 04:39] #122 closed, assigned to nobody

[2019-02-18 19:33] harsh7g commented on #49
If this issue still open I would like to start working on it

[2019-02-20 21:18] #116 closed, assigned to nobody

[2021-01-10 03:16] pratheekcr commented on #49
Hi, I am new to open source and this issue would be a great way to start. Is this still open? Let me know, please.